<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student and Teacher Management</title>
    <link rel="stylesheet" href="../index.css">

</head>

<body background="" bgcolor="blue-dark">


<a href="/Students" class="search" id="search">Search</a>
<button class="add" id="add">Add</button>
<button class="delete" id="delete">Delete</button>


<div class="Daxilol">
    <div class="basliq1" align="center"><b>Sayta girə bilmək üçün daxil olun</b></div>
    <form action="" method="post">
        <div class="Daxilolmaq" align="center">
            Adınız: <input type="text" name="isim" id="isim" placeholder="Adınız" required> <span
                class="error1">*</span>
            <br><br>
            <span class="soyad1">Soyadınız: </span> <input type="text" name="soyad" id="soyad" placeholder="Soyadınız"
                                                           required> <span class="error1">*</span>
            <br><br>
            Şifrəniz: <input type="password" name="pass" id="pass" placeholder="Şifrəniz" maxlength="7" required><span
                class="error2">*</span><br><br>
            <input type="checkbox" name="yadda saxla" id="yadda_saxla" value="Yadda saxla">Yadda Saxla<br><br>
            <input type="submit" name="Giriş" id="Giriş" value="Daxil ol"> <br><br>

            <a href="/Students"><b class="span">Qeydiyatınız yoxsa qeydiyatdan keçin:</b></a>
            <br/><br/>
        </div>
    </form>
</div>

</body>
</html>