<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student and Teacher Management</title>
    <link rel="stylesheet" href="../index.css">

</head>

<body background="" bgcolor="blue-dark">

<form method="get" action="/Students" >
    Name: <input type="text" class="name" id="name" name="name" />
    Surname : <input type="text" class="name" id="surname" name="surname" />
    Age: <input type="number" class="name" id="age" maxlength="3" name="age" />
    Scholarship: <input type="number" class="name" id="scholarsipSearch" name="scholarship" /><br><br>
    <button type="submit" class="search" id="searchBtn">Search</button>
    <button type="button" class="add" id="AddBtn">Add</button>
    <button type="button" class="delete" id="deleteBtn">Delete</button>
    <button type="button" class="back" id="backBtn"><a href="/index">Back</a></button>
</form>


<table class="customTable">
    <thead>
    <tr>
        <th class="tb_id">id</th>
        <th class="tb_name">Name</th>
        <th class="tb_surname">Surname</th>
        <th class="tb_age">Age</th>
        <th class="tb_scholarsip">Scholarship</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student: ${list}">
        <td class="tb_id" th:text="${student.id}">1</td>
        <td class="tb_name" th:text="${student.name}">Name</td>
        <td class="tb_surname" th:text="${student.surname}">Surname</td>
        <td class="tb_age" th:text="${student.age}">Age</td>
        <td class="tb_scholarship" th:text="${student.scholarship}">Scholarship</td>
    </tr>
    </tbody>
</table>


<div class="Daxilol">
    <div class="basliq1" align="center"><b>Registration</b></div>

    <form action="" method="post">
        <div class="Daxilolmaq" align="center">
            Name: <input type="text" name="isim" id="name1" placeholder="Name" pattern="[0-9]{5} " class="active">
            <span class="error1">*</span>
            <br><br>
            <span class="surnameReg">Surname: </span> <input type="text" name="surname" id="surnameReg"
                                                             placeholder="Surname"
                                                             required> <span class="error1">*</span>
            <br><br>
            Age: <input type="number" name="age" id="AgeReg" placeholder="Age" required> <span class="error1">*</span>
            <br><br>
            Scholarsip: <input type="number" name="scholarship" id="ScholarshipReg" placeholder="Scholarship" required>
            <span
                    class="error1">*</span>
            <br><br>
            Gender:
            <input type="radio" name="Gender" id="Male">Male
            <input type="radio" name="Gender" id="Female">Female <br><br>
            Şifrəniz: <input type="password" name="pass" id="password" placeholder="Şifrəniz" maxlength="7"
                             required><span
                class="error2">*</span><br><br>
            <input type="checkbox" name="Remember" id="Remember" value="Remember">Remember<br><br>
            <input type="submit" name="Add" id="Add" value="Add"> <br><br>

        </div>
    </form>
</div>

</body>
</html>